$main_colour: #08a4e1;

h1, h2 {
  font-size: 34px;
}

.title {
  display: inline;
}

h2 {
  border-bottom: 2px solid #f2f2f2;
  padding: 15px;
  margin-bottom: 20px;
}

h3 {
  font-size: 38px;
  color: $main_colour;
  transition: width 3s;
}

h4 {
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
  margin: 20px 0;
}

p + p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: $main_colour;
}

a:hover {
  text-decoration: underline;
}

.subtitle{
  font-size: 22px; 
}

.friend-name{
  font-weight: 700;
  color: $main_colour;
}